---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
    <h2>Team members</h2>
    
    <h3>Director</h3>
    <a href="http://www.me.gatech.edu/faculty/kalidindi">Surya Kalidindi, Professor</a> <br>
    
    <h3>Postdocs and Visiting Scholars</h3>
    <a href=http://ahafeez7.github.io/>Abdul Hafeez, Postdoc Fellow <br></a>
    Evdokia Popova, Postdoc Fellow <br>
    Zheng Yang, Visiting Professor <br>
    
    <h3>PhD Students</h3>
    <a href="http://ahmetcecen.github.io/">Ahmet Cecan, Ph.D. Candidate </a><br>
    <a href="http://davidbrough1.github.io">David Brough, Ph.D. Student </a><br>
    Ali Khosravani, Ph.D. Candidate<br>
    Akash Gupta, Ph.D. Student<br>
    Alicia White, Ph.D. Student<br>
    Mohammed Abba, Ph.D. Student<br>
    Dipen Patel, Ph.D. Student<br>
    Jordan Weaver, Ph.D. Student<br>
    Noah Paulson, Ph.D. Student<br>
    Yuksel Yabansu, Ph.D. Student<br>
    Joshua Gomberg, Ph.D. Student<br>
    Xinyi Gong, Ph.D. Student<br>
    Almambet Isakov, Ph.D. Student<br>
    David Turner, Ph.D. Student<br>
    Anne Hanna, Ph.D. Student<br>
    
    <h3>Alumni</h3>
    Abdel Abusafieh, N/A; <br>
    Hamad Al-Harbi, King Saud University; <br> 
    Sirous Asgari, N/A; <br>
    Abhishek Bhattacharya, N/A; <br>
    Massimiliano Binci, N/A; <br>
    Dmitri Brodkin, N/A; <br>
    Ehab El-Danaf, N/A; <br>
    Tamer El-Raghy, N/A; <br>
    Hari Duvvuru, N/A; <br>
    Anthony Fast, N/A; <br>
    Gina Gaultieri, N/A; <br>
    Joshua Houskamp, ARL; <br>
    Marko Knezevic, University of New Hampshire; <br>
    Giacomo Landi, N/A; <br>
    Amanda Levinson, NRL; <br>
    Anand Murugaiah, N/A; <br>
    Sundararaman Narayanan, N/A; <br> 
    Yu-Hsuen Nien, N/A; <br>
    Stephen Niezgoda, Ohio State University; <br> 
    Siddhartha Pathak, LANL; <br>
    Gwenaelle Proust, University of Sdyney; <br>
    Ayman Salem, Materials Resources, LLC; <br>
    Ebrahim Shaji, N/A; <br>
    Dejan Stojakovic, N/A; <br>
    Xianping Wu, N/A; <br>
    Shraddha Vachhani, LANL; <br>
    Tiejun Zhen, N/A. <br>
    
    <a href="http://mined-gatech.github.io/contact.html">Contact Us</a><br>
    
      {% if site.compass.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
